<h1>Patient Show</h1>

<strong> Patient_Name: </strong>
<%= @patient.name %>
<br>
<strong> Patient_Diseas: </strong>
<%= @patient.diseas %>
<br>
<strong> Ward_Name: </strong>
<%= @patient.ward_name %>
<br>
<strong> Doctor_Name: </strong>
<%= @patient.doctor.name %>
